body {
  margin: 0%;
  background-image:url(saturno.jpg);
  background-size: cover;
}

.menu {
  display: flex;
  flex-direction: row;
  background-color: rgb(2, 0, 6);
  justify-content: space-between;
  padding: 15px 20px;
  height: 45px;
  width: auto;
}

.item {
  margin: 10px;
  width: 500PX;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

/*boton menu */

.btn {
  background-color: rgba(19, 199, 199, 0);
  font-size: 20px;
  text-decoration: none;
  padding: 15px 30px;
  height: 15px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 10px;
  background-color: rgb(72, 3, 136);
}

/* Icono del menu */

#alien {
  height: 50px;
  width: 50px;
}

/* imagen Astronauta */

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 400px;
  padding-top: 80px;
  
}

/*Titulo */

.space {
  padding-top: 40px;
}

.info {
  text-align: center;
  background-color: white;
  width: 250px;
  height: 50px;
  margin: 0 auto;
  border: 5px black;
  border-radius: 10px;
  box-shadow: 20px blueviolet;
  padding-top: 10px;
}