body {
  margin: 0%;
}

.menu {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  justify-content: space-between;
  padding: 15px 20px;
  height: 45px;
  width: auto;
}

.item {
  margin: 10px;
  width: 500PX;
  height: 40px;
  display: flex;
  justify-content: space-around;
}

/* Icono del menu */

#alien {
  height: 50px;
  width: 50px;
}


/*boton menu */

.btn {
  background-color: rgba(19, 199, 199, 0);
  font-size: 20px;
  text-decoration: none;
  padding: 15px 30px;
  height: 15px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 2px;
}

.btn:hover {
  box-shadow: 10px;
  background-color: blueviolet;
}